language: java
jdk:
  - openjdk8
  - openjdk11
os: linux
dist: bionic
script:
  - ./gradlew build --stacktrace
  # - ./gradlew runClient
  # - mkdir -p run/server && echo "eula=true" > run/server/eula.text && ./gradlew runServer