name: Java CI with Gradle

on:
  push:
    branches: [ 1.15.2-development ]
  pull_request:
    branches: [ 1.15.2-development ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Run client
        run: ./gradlew runClient
      - name: Run server
        run: mkdir -p run/server && echo "eula=true" > run/server/eula.text && ./gradlew runServer
